@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */


/* 
*{git add .

    padding: 0px;
    margin: 0px;
    font-family: "Azeret Mono", monospace;
} */
/* html{
    scroll-behavior: smooth;
} */

p{
    color: #0d1321c8;
}
nav h1{
    height: 33px;
    width: 128px;
    font-weight: 900;
    font-size: 28px;

}

nav button{
    width: 244px;
    height: 57px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border-color: #00000063;
    color: #0d1321cc;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
    margin-top: 50px;
    align-items: center;
}


.header-one{
    background-image: url("./assets/Hero-bg.png");
    background-size: contain;
    margin-top: 25px !important;
    height: 670px;
    background-position: center;
    margin: auto;
}

.inside-head{
    width: 998px;
    height: 581px;
    text-align: center;
    margin: auto;
}



.section-one img{
    margin-top: 20px;
}

.section-two h1{
    font-size: 48px;
    font-weight: 900;
    width: 998px;
    line-height: 68px;
    margin-top: 32px;
    
}

.section-two p{
    font-size: 16px;
    width: 852px;
    line-height: 26px;
    margin-top: 24px;
    
}

.section-two button{
    width: 244px;
    height: 65px;
    background-color: black;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 32px !important;
    display: block;
    margin: auto;
}

.section-two button a {
    color: white;
    text-decoration: none;
}   


.one{
    width: 1140px;
    height: 1393px;
   
    margin: auto;
    background-color: #0d132109;
    border-radius: 9px;
}

.secpart{
    width: 852px;
    height: 113px;
 
    margin: auto;
    text-align: center;
    margin-top: 80px;
    padding-top: 80px;
}

.secpart h1{
    height: 37px;
    width: 852px;
    font-weight: 900;
    font-size: 32px;
}

.secpart p{
    width: 852px;
    height: 52px;
    font-size: 16px;
    margin-top: 24px;
}



.part{
   width: 477px;
   height: 219px;

}




.allpart .same{
    display: flex;
    justify-content: space-between;
    width: 850px;
    height: 240px;
    margin: auto;
    align-items: center;
    margin-top: 48px;
    padding-top: 48px;
}

.allpart section h2{
    width: 390px;
    height: 72px;
    font-size: 24px;
    font-weight: 700;
    color: #0d1321cc;
}

.allpart section p{
    width: 468px;
    height: 52px;
    font-size: 16px;
    display: block;
    margin-top: 16px;
}

.allpart section button{
    width: 171px;
    height: 47px;
    font-size: 20px;
    margin-top: 32px;
    background-color: #0000000f;
    border-color: #0000004f;
}

.allpart section a{
    text-decoration: none;
    color:  #0D1321;
}

.allpart section img{
    width: 274.17px;
    height: 240px;
}


.allpart .sameto{
    width: 946px;
    height: 336px;
    background-color: rgb(255 255 255);
    margin: auto;
    margin-top: 32px;
    border-radius: 7px;
}

.hala{
    width: 469px !important; 
}

.two{
    margin-top: 96px !important;
    width: 1140px;
    height: 775px;
    background-color: #0d132103;
    margin: auto;
}
.two .discription{
    width: 852px;
    height: 113px;
    text-align: center;
    margin: auto;
    margin-top: 125px;
}
.discription h1{
    width: 852px;
    height: 37px;
    font-size: 32px;
    font-weight: 900;
}

.discription p{
    width: 852px;
    height: 52px;
    font-size: 16px;
    margin-top: 24px;
}

.onenen .discription{
    width: 852px;
    height: 113px;
    text-align: center;
    margin: auto;
    margin-top: 155px;
}

.videooo{
    width: 1140px;
    height: 614px;
    margin-top: 48px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    
}

.videooo iframe{
    margin: auto;
    display: block;
    margin-top: 32px;
    border-radius: 10px;
}

.treesce div{
    width: 364px;
    height: 299px;
    margin-right: 24px;
    padding: 30px;
    border-radius: 16px;
}


.treesce div h1{
    width: 284px;
    height: 36px;
    font-size: 24px;
    font-weight: 900;
    margin-top: 24px;
}

.treesce div p{
    width: 302px;
    height: 58px;
    font-size: 16px;
    display: block;
    margin-top: 16px;
}

.treesce div a{
    width: 284px;
    height: 19px;
    font-size: 16px;
    font-weight: 800;
    margin-top: 24px;
    display: block;
    color: #0D1321;
}

.treesce{
    width: 1140px;
    height: 360px;
    display: flex;
    margin: auto;
    border-radius: 16px;
    margin-top: 69px;
}

.colorthree{
    margin-right: 0px !important;
    background-color: #ffdd0013;
}

.colorone{
    background-color:#ff4b1e10 ;
}

.colortwo{
    background-color:#004de811 ;
}

.fourere .discription{
    width: 852px;
    height: 113px;
    text-align: center;
    margin: auto;
    margin-top: 111px;
}

.fourere{
    width: 1140px;
    height: 866px;
   
    margin: auto;
}

.foursect{
   
    height: 705px;
    width: 1140px;
    margin-top: 50px;
    
}

.foursect .samesame{
    width: 1140px;
    height: 219px;
    border-radius: 16px;
    display: flex;
    box-shadow: 0px 0px 3px 0px #00000030;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}


.foursect .samesame img{
    width: 143.51px;
    height: 88px;
    margin-left: 30px;
    
}
.problemm img{
    width: 99.78px !important;
    height: 93px !important;
}

.foursect .samesame div{
    width: 941.22px;
    height: 139px;
    
    
}

.foursect .samesame h3{
    width: 110px;
    height: 36px;
    font-weight: 900;
    font-size: 24px;
    color: #0D1321;
}


.foursect .samesame p{
    width: 892px;
    height: 52px;
    font-size: 16px;
    margin-top: 16px;
    display: block;
}

.foursect .samesame a{
    font-size: 16px;
    font-weight: 800;
    color: #0D1321;
    display: block;
    margin-top: 16px;

}

.supportus{
    background-image: url("./assets/handshake.jpg");
    width: 1140px;
    height: 313px;
    border-radius: 16px;
    text-align: center;
    margin: auto;
    display: flex;
    margin-top: 64px;
}

.supportus h1{
    width: 292px;
    height: 36px;
    color: white;
    margin: auto;
}


.supportus p{
    width: 606px;
    height: 52px;
    font-size: 16px;
    color: white !important;
    margin: auto;

}
.supportus input{
    width: 548px;
    height: 57px;
    border-radius: 8px;
    background-color: #fffffff5;
}

.supportus button{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #0D1321;
}

.supportus div{
    width: 1044px;
    height: 185px;
    margin: auto;
}


.finishing h3{
    width: 456px;
    height: 23px;
    font-weight: 600;
    font-size: 20px;
    color: #0D1321;

}
.finishing{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 36px;
    margin: auto;
    align-items: center;
}
.iconnn ul{
    display: flex;
    list-style: none;
    width: 157.01px;
    height: 36px;
    align-items: center;
    justify-content: center;
}

.iconnn li{
    margin: 10px;
}

.iconnn img{
    width: 36px;
    height: 36px;
}

.lasttt{
    background-color: #0d13210f;
    height: 100px;
    display: flex;
    margin-top: 80px;
}